/* Customize your main colors in :root variables */
:root {
  --main-background-color: #343A50;
  --card-background-color: rgb(39,51,89,.4);
  --card-background-lighter-color: #7A7F92;
  --main-text-color: #ffff;
  --title-text-color:#3CBA8B;
}

main-text-color {
    background: linear-gradient(to right, #30CFD0, #c43ad6);
    font-size: 11em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body{
  background-color:#0f0e13;
  background-image: linear-gradient( 
150deg, hsl(240deg 100% 20%) 0%, hsl(299deg 100% 21%) 13%, hsl(324deg 100% 32%) 23%, hsl(336deg 100% 42%) 32%, hsl(2deg 90% 61%) 41%, hsl(24deg 100% 58%) 53%, hsl(42deg 100% 52%) 70%, hsl(55deg 97% 57%) 100% );
    
}

h2, p{
  color: var(--main-text-color);
  justify-content: center;
  font-weight: bold;
}

h3{
font-weight: normal;
}

.GoldTitle{
align-content: center;
}




.MuiFab-extended{
  height: auto;
  padding-right: 0 !important;
  padding-bottom: 50px;
}

.MuiFab-label{
  font-weight: bold;
}

.MuiPaper-root{
  background-color: var(--card-background-color) !important;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.MuiButton-containedPrimary:not(.MuiButton-fullWidth){
  cursor: pointer;
    border-radius: 12px;
    font-family: Matter;
    font-weight: 600;
    min-width: 100px;
    color: white;
    transition: all 0.25s ease 0s;
    border: 3px solid transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(
108.2deg
, rgb(217, 76, 214) 12.66%, rgb(81, 182, 249) 121.19%, rgba(217, 76, 214, 0) 121.2%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: rgb(50 45 71) 2px 1000px 1px inset;
    display: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 9px;
    padding: 14px 18px;
    min-height: 50px;
}

.MuiButton-label{
  font-size: 2.2em;
}

.MuiLinearProgress-colorPrimary{
  background-color:var(--main-text-color) !important;
}

.MuiLinearProgress-barColorPrimary{
  background-color:var(--title-text-color) !important;
}
